*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

/* HEADER */

header{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px 10%;
    background:#111827;
    position:sticky;
    top:0;
}

header h1{
    color:#38bdf8;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:1rem;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

/* HERO */

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    padding:20px;
}

.hero h2{
    font-size:3rem;
    margin-bottom:15px;
}

.hero span{
    color:#38bdf8;
}

.hero p{
    max-width:600px;
    margin-bottom:25px;
    color:#cbd5e1;
}

/* BUTTON */

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#38bdf8;
    color:black;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
    background:#0ea5e9;
}

/* GENERAL */

section{
    padding:80px 10%;
}

.title{
    text-align:center;
    margin-bottom:50px;
    font-size:2rem;
    color:#38bdf8;
}

/* ABOUT */

.about{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    align-items:center;
}

.about img{
    width:100%;
    border-radius:15px;
}

/* PHOTO PROFIL ANIMATION */

.profile-pic {
    width: 900px;
    height: 900px;
    border-radius: 50%;
    object-fit: cover;

    opacity: 0;
    transform: translateY(30px);

    animation: fadeSlide 8s ease-out forwards;
    transition: transform 0.3s ease;

    box-shadow: 0 10px 30px rgba(56, 189, 248, 0.3);
}

@keyframes fadeSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-pic:hover {
    transform: scale(1.05);
}

/* ABOUT TEXT */

.about-text p{
    color:#cbd5e1;
}

/* SKILLS */

.skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    background:#1e293b;
}

/* PROJECTS */

.projects{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    gap:25px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    margin-bottom:15px;
    color:#38bdf8;
}

.card p{
    color:#cbd5e1;
    margin-bottom:15px;
}

/* CONTACT */

.contact{
    text-align:center;
}

.contact p{
    margin-bottom:20px;
    color:#cbd5e1;
}

/* SOCIALS */

.socials{
    margin-top:25px;
    display:flex;
    justify-content:center;
    gap:25px;
}

.socials a{
    color:white;
    font-size:2rem;
    transition:0.3s;
}

.socials a:hover{
    color:#38bdf8;
    transform:translateY(-5px);
}

/* FOOTER */

footer{
    text-align:center;
    padding:20px;
    background:#111827;
    color:#94a3b8;
}

/* RESPONSIVE */

@media(max-width:768px){

    .hero h2{
        font-size:2.2rem;
    }

    .about{
        grid-template-columns:1fr;
    }

}